
<body ng-controller="AppController" ng-init="init()">
<ons-navigator title="Navigator" var="myNavigator">
<ons-page id="export-page">

<ons-toolbar >
    <div class="center">Export</div>
</ons-toolbar>


    <ons-list ng-controller="DropdownController" modifier="inset" class="settings-list">

        <ons-list-item modifier="chevron" onclick="save()">
            <ons-icon icon="ion-plus-circled" style="opacity: 0.6"></ons-icon>
            Save Most Recent Data
        </ons-list-item>

        <ons-list-item id="selectForDelete" modifier="chevron"  ng-click="go($event);">
            <ons-icon icon="ion-minus-circled" style="opacity: 0.6"></ons-icon>
            Remove File
        </ons-list-item>

        <ons-list-item  modifier="chevron" onclick="showPosition()">
            <ons-icon icon="fa-map-marker" style="opacity: 0.6"></ons-icon>
            Show Rout in Google Maps
        </ons-list-item>


        <ons-list-item id="selectForEmail" modifier="chevron"  ng-click="go($event);">


        <ons-icon icon="ion-email" style="opacity: 0.6"></ons-icon>
            Select File and Send Email
        </ons-list-item>
    </ons-list>

    <div class="result-area ch40">
        <div class="results"content-type="text/plain">
            <div id="result" class="desc"></div>
        </div>
        <div class="separator"></div>
    </div>


</ons-page>
</ons-navigator>


    <ons-template  id="popover.html">
        <ons-popover  direction="down" cancelable>
            <div class="center">Time of File Creation</div>

            <ons-list id = popMessage>
            </ons-list>

        </ons-popover>
    </ons-template>


</body>
