<!--<ons-page>-->
  <ons-sliding-menu  main-page="controller.html" menu-page="menu.html" max-slide-distance="260px" type="overlay" var="menu"></ons-sliding-menu>


  <ons-template id="menu.html">
    <ons-page modifier="menu-page">
      <ons-toolbar modifier="transparent">
        <div class="right">
          <ons-toolbar-button class="menu-closeMenu" ng-click="menu.closeMenu()">
            Close
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <ons-list class="menu-list">
        <span style="color: #666">Travel Mode</span>


        <ons-list-item class="middle-menu-item">
          <ons-row>

            <div style="float: right; padding-right: 16px; color:white;">
              <label class="radio-button">
                <input type="radio" name="level" ng-model="selectedLevel" onclick="set_mode_walk();menu.closeMenu()">
                <div class="radio-button__checkmark"></div>
                Walk
              </label>

              <label class="radio-button">
                <input type="radio" name="level" ng-model="selectedLevel" onclick="set_mode_bike();menu.closeMenu()">
                <div class="radio-button__checkmark"></div>
                Bike
              </label>

              <label class="radio-button">
                <input type="radio" name="level" ng-model="selectedLevel" onclick="set_mode_drive();menu.closeMenu()">
                <div class="radio-button__checkmark"></div>
                Drive
              </label>
            </div>
          </ons-row>
        </ons-list-item>
      </ons-list>
      <br>

      <span style="color: #666">Point of Comparison </span>
      <ons-list class="middle-menu-list" >

        <ons-list-item class="middle-menu-item" onclick="set_fromStartPoint_true();menu.closeMenu()">
          <label class="radio-button radio-button--list-item">Distance From Start
            <input type="radio" name="b" >
            <div style="float: right;" class="radio-button__checkmark radio-button--list-item__checkmark" ></div>
          </label>
        </ons-list-item>

        <ons-list-item class="middle-menu-item" onclick="set_fromStartPoint_false();menu.closeMenu()">
          <label class="radio-button radio-button--list-item">Total Distance
            <input type="radio" name="b" checked="checked">
            <div style="float: right;" class="radio-button__checkmark radio-button--list-item__checkmark" ></div>
          </label>
        </ons-list-item>

      </ons-list>


      <br>

      <ons-list class="bottom-menu-list" >

        <ons-list-item class="bottom-menu-item" modifier="chevron" ng-click="menu.closeMenu()"onclick="displayInstructions()">
          Help
        </ons-list-item>

        <ons-list-item class="bottom-menu-item" modifier="chevron" ng-click="menu.closeMenu()">
          Website
        </ons-list-item>
      </ons-list>

      <br>

      <!--<ons-list class="bottom-menu-list" >-->

        <!--<ons-list-item class="bottom-menu-item" modifier="chevron" onclick="loadBadMockDataToArray()" ng-click="menu.closeMenu()">-->
          <!--Load Test 1-->
        <!--</ons-list-item>-->

        <!--<ons-list-item class="bottom-menu-item" modifier="chevron" onclick="loadGoodMockDataToArray()" ng-click="menu.closeMenu()">-->
          <!--Load Test 2-->
        <!--</ons-list-item>-->
      <!--</ons-list>-->


    </ons-page>
  </ons-template>










  <style>
    .page--menu-page__background {
      background-color: #333;
      color: white;
    }

    .menu-close,
    .menu-close > .toolbar-button {
      color: #999;
    }

    .menu-list,
    .menu-item:first-child,
    .menu-item {
      background-color: transparent;
      background-image: none !important;
      border-color: transparent;
      color: #fff;
    }

    .menu-item {
      padding: 0 0 0 20px;
      line-height: 52px;
      height: 52px;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
    }

    .menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }


    .bottom-menu-list,
    .bottom-menu-item:first-child,
    .bottom-menu-item {
      border-color: #393939;
      background-color: transparent;
      background-image: none !important;
      color: #ccc;
    }

    .bottom-menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .middle-menu-list,
    .middle-menu-item:first-child,
    .middle-menu-item {
      border-color: #393939;
      background-color: transparent;
      background-image: none !important;
      color: #ccc;
    }
  </style>